<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Ingredients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
<div style="margin-left: 250px;">
    <div class="sidebar">
        <a th:href="@{/daily-menu}">Daily Menu</a>
        <a th:href="@{/recipe}">Recipes</a>
        <a th:href="@{/ingredients}">Basic Ingredients</a>
    </div>

    <H1 style="margin-top: 20px; margin-bottom: 20px">Ingredients table</H1>


    <div>
        <div class="col-3">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col" class="col-1">Id</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-1">Unit</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="basicIngredient : ${basicIngredientsList}">
                    <td th:text="${basicIngredient.basicIngredientId}"></td>
                    <td th:text="${basicIngredient.basicIngredientName}"></td>
                    <td th:text="${basicIngredient.unit}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>